<% include ../partials/portal_header %>
      <div class="ui container main" id="content">
        <h1>Announcements-Show</h1>
        <section>
           <div class="segment">
                <h4><a><%= announcement.title%></a></h4>
                <p><%= announcement.post_body %></p>
                <p>
                    <em>Submitted By <%= announcement.author.username %></em>
                </p>
                <% if(currentUser && announcement.author.id.equals(currentUser._id)){ %>
                    <a class="ui mini inverted blue button" href="/announcements/<%= announcement._id %>/edit">Edit</a>
                    <form id="delete-form" action="/announcements/<%= announcement._id %>?_method=DELETE" method="POST">
                        <button class="ui mini inverted red button">Delete</button>
                    </form>
                <% }%>
            </div>   

        </section>
      </div>
<% include ../partials/portal_footer %>