<% include ../partials/portal_header %>
      <div class="ui container main" id="content">
          <% include ../partials/error_alert %>
        <h1>Announcements-Edit Comment</h1>
        <section id="new_announcement_container">
            <h1>Edit Comment to <%= announcement.title %></h1>
           <form class="ui form comment" action="/announcements/<%= announcement_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="field">
                    <textarea name="comment[text]" placeholder="Enter text here"><%= comment.text %></textarea>
                </div>
                <div class="field">
                    <button class="ui mini inverted green button" type="submit">Submit!</button>
                </div>
            </form>
            <a href="/announcements/<%= announcement._id %>">Go Back</a>
        </section>
      </div>
<% include ../partials/portal_footer %>
